.item-a {
  grid-area: header;
  background-color: blue;
  height: auto;
}
.item-b {
  grid-area: main;
  background-color: red;
  height: auto;
}
.item-c {
  grid-area: sidebar;
  background-color: green;
  height: auto;
}
.item-d {
  grid-area: footer;
  background-color: yellow;
  height: auto;
}

.container {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: auto;
  grid-template-areas:
    "header header header"
    "main main sidebar"
    "footer footer footer";
  height: 100vh;
}

/* GRID HIJO */

.children-grid {
  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: 33% 33% 33%;
  height: 0;
  grid-template-areas: "product1 product2 product3";
  gap: 10px;
}

.children-a {
  grid-area: product1;
  background-color: white;
  height: 337px;
}
.children-b {
  grid-area: product2;
  background-color: black;
  height: 337px;
}
.children-c {
  grid-area: product3;
  background-color: white;
  height: 337px;
}
